@page
@model Web.Pages.Recetas.CreateModel

@{
    ViewData["Title"] = "Create";
}
<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
        margin: 0;
        padding: 0;
    }

    h1 {
        font-size: 2.5rem;
        text-align: center;
        margin-top: 50px;
        color: #333;
    }

    h4 {
        font-size: 1.5rem;
        color: #666;
    }

    hr {
        border-top: 2px solid #007bff;
        margin-bottom: 20px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

        input[type="submit"]:hover {
            background-color: #0056b3;
        }

    .back-link {
        margin-top: 20px;
        display: block;
        text-align: center;
        color: #007bff;
    }

        .back-link:hover {
            text-decoration: underline;
        }
</style>


<h1>Create</h1>

<h4>Receta</h4>
<hr />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Receta.Paciente" class="control-label"></label>
                <input asp-for="Receta.Paciente" class="form-control" />
                <span asp-validation-for="Receta.Paciente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receta.Medico" class="control-label"></label>
                <input asp-for="Receta.Medico" class="form-control" />
                <span asp-validation-for="Receta.Medico" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receta.FechaEmision" class="control-label"></label>
                <input asp-for="Receta.FechaEmision" class="form-control" />
                <span asp-validation-for="Receta.FechaEmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receta.Medicamento" class="control-label"></label>
                <input asp-for="Receta.Medicamento" class="form-control" />
                <span asp-validation-for="Receta.Medicamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receta.Instrucciones" class="control-label"></label>
                <input asp-for="Receta.Instrucciones" class="form-control" />
                <span asp-validation-for="Receta.Instrucciones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receta.Expira" class="control-label"></label>
                <input asp-for="Receta.Expira" class="form-control" />
                <span asp-validation-for="Receta.Expira" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receta.Comentarios" class="control-label"></label>
                <input asp-for="Receta.Comentarios" class="form-control" />
                <span asp-validation-for="Receta.Comentarios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Receta.Estado" class="control-label"></label>
                <input asp-for="Receta.Estado" class="form-control" />
                <span asp-validation-for="Receta.Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Digitalizar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
