@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f7ff; 
        margin: 0;
        padding: 0;
    }

    .text-center {
        text-align: center;
        margin-top: 50px;
    }

    .display-4 {
        font-size: 2.5rem;
        color: #007bff;
      
    }

    p {
        font-size: 1.2rem;
        color: #666;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Caso Práctico #2</h1>
    <h2 class="display-3">Grupo Prometeo</h2>
    <p>CRUD de medicamentos</p>
    
</div>
